name: Build Model

on:
  workflow_dispatch: # For demonstration purposes

  # push: # Runs workflow when you push a commit or tag
  #   branches:
  #     - main

  # schedule: # Runs workflow at a scheduled time.
  #   - cron: "0 0 * * 0"

jobs:
  create-model-staging:
    name: Create Model in Staging
    runs-on: ubuntu-latest

    environment:
      name: Staging

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: "./.github/templates/install-dependencies"
        with:
          workspace_resource_group: ${{ secrets.RESOURCE_GROUP }}
          workspace_name: mlw${{ secrets.WORKLOAD_IDENTIFIER }}${{ secrets.RESOURCE_INSTANCE }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Run pipeline job to train model
        uses: "./.github/templates/run-job"
        with:
          job_file: core/pipelines/train_model.yml

      - name: Tag and download model
        run: |
          MODEL_NAME=$(yq '.jobs.register_step.inputs.model_name' < core/pipelines/train_model.yml)
          MODEL_VERSION=$(az ml model list --name $MODEL_NAME --query "[0].version" | bc -l)

          az ml model update --name $MODEL_NAME --version $MODEL_VERSION \
            --set tags.github_run_id=${{ github.run_id }} tags.github_workflow_url="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}"

          az ml model download --name $MODEL_NAME --version $MODEL_VERSION --download-path artifacts
          echo '{"model_name":"'"$MODEL_NAME"'","model_version":"'"$MODEL_VERSION"'"}' > artifacts/model.json

      - name: Upload model artifact
        uses: actions/upload-artifact@v3
        with:
          name: artifacts
          path: artifacts
