name: Create Environments

on:
  workflow_dispatch: # For demonstration purposes

  # push: # Runs workflow when you push a commit or tag
  #   branches:
  #     - main

jobs:
  create-environments-staging:
    name: Create Environments in Staging
    runs-on: ubuntu-latest

    environment:
      name: Staging

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: "./.github/template/install-dependencies"
        with:
          workspace_resource_group: ${{ secrets.RESOURCE_GROUP }}
          workspace_name: ${{ secrets.WORKSPACE_NAME }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create training environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/train.yml

      - name: Create scoring environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/score.yml

      - name: Create drift environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/drift.yml

  create-environments-production:
    name: Create Environments in Production
    runs-on: ubuntu-latest
    needs: create-environments-staging

    environment:
      name: Production

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Install dependencies
        uses: "./.github/template/install-dependencies"
        with:
          workspace_resource_group: ${{ secrets.RESOURCE_GROUP }}
          workspace_name: ${{ secrets.WORKSPACE_NAME }}
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Create training environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/train.yml

      - name: Create scoring environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/score.yml

      - name: Create drift environment
        uses: "./.github/template/create-environment"
        with:
          environment_file: ./core/environments/drift.yml
